html {
  font-family: 'Open Sans', sans-serif
}

body {
  margin: 0;
  background-color: #ffffff;
}

header {
  display: flex;
  position: relative;
  align-items: center;
  border-bottom: solid 2px;
  color: white;
  background-color: #418ce7;
  height: fit-content;
  padding: .5rem;
  border-bottom: solid 2px whitesmoke;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header li {
  display: inline;
}

header a {
  color: white;
  text-align: center;
  text-decoration: none;
  margin-left: 10px;
  padding: 1rem;
  border-radius: 5px;
}

header a.active {
  background-color: #2d5e99;
  text-decoration: underline dotted;
  text-underline-offset: 5px;
}

header a:hover:not(.active) {
  background-color: #2d5e99;
}

h1 {
  background-image: url("./images/wexor-tmg-L-2p8fapOA8-unsplash.jpg");
  padding: 10px;
  background-size: cover;
  color: aliceblue;
  margin: 0;
}

.right {
  position: absolute;
  right: 30px;
}

.logo {
  width: 50px;
  font-size: 1.5rem;
  border-radius: 5px;
  margin-left: 10px;
}

.card {
  text-decoration: none;
  width: 1100px;
  height: fit-content;
  background-color: #2d5e99;
  border: 2px solid #4e9aff;
  border-radius: 10px;
  align-items: center;
  display: flex;
  color: white;
  padding: 20px;
}

.card:hover {
  background-color: #418ce7;
}

.background-im {
  background-image: url("./images/home/naja-bertolt-jensen-Uu1CtKngEXY-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-color: aquamarine;
}
